*{
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    box-sizing: border-box;
}

body{
    background: rgba(255, 255, 255, 0.8);
}

.stopwatch{
    width:90%;
    max-width: 600px;
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    padding: 40px 0;
    margin: 200px auto 0;
    color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.9);
    letter-spacing: 2px;
    line-height: 70px;


}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
}

.button img{
    width: 50px;
    margin: 0 20px;
    cursor: pointer;

}

.button img:nth-child(2){
    width: 80px;
}

.play:hover{
    background: linear-gradient(#ffee31, #48a0ff, #5aff5a, #ffee31);
    box-shadow: 0 0 0 #ffee31, 0 0 20px #5aff5a;
    border-radius: 50%;
    animation: amni 1.2s linear infinite;
    
}

@keyframes amni {
    100%{
        filter: hue-rotate(360deg);
    }
}
















